In [10]:
%pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\fakee\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\fakee\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Downloading xgboost-3.0.0-py3-none-win_amd64.whl (150.0 MB)
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 0.5/150.0 MB 2.1 MB/s eta 0:01:12
   ---------------------------------------- 1.0/150.0 MB 2.3 MB/s eta 0:01:05
   ---------------------------------------- 1.8/150.0 MB 2.7 MB/s eta 0:00:55
    --------------------------------------- 2.6/150.0 MB 3.0 MB/s eta 0:00:50
    --------------------------------------- 3.1/150.0 MB 2.9 MB/s eta 0:00:51
   - -------------------------------------- 3.9/150.0 MB 3.1 MB/s eta 0:00:48
   - -------------------------------------- 5.0/150.0 MB 3.2 MB/s eta 0:00:46
   - -------------------------------------- 5.8/150.0 MB 3.3 MB/s eta 0:00:44
   - -------------------------------------- 6.8/150.0 MB 3.5 MB/s eta 0:00:41
   -- ------------------------------------- 7.9/150.0 MB 3.6 MB/s eta 0:00:40
   -- ------------------------------------- 9.2/150.0 MB 3.8 MB/s eta 0:00:37
   -- ------------------------------------- 10.2/150.0 MB 4.0 MB/s eta 0:00:36
   --- ------------------------------------ 11.5/150.0 MB 4.1 MB/s eta 0:00:34
   --- ------------------------------------ 13.1/150.0 MB 4.4 MB/s eta 0:00:32
   --- ------------------------------------ 14.7/150.0 MB 4.6 MB/s eta 0:00:30
   ---- ----------------------------------- 16.3/150.0 MB 4.7 MB/s eta 0:00:29
   ---- ----------------------------------- 17.6/150.0 MB 4.8 MB/s eta 0:00:28
   ----- ---------------------------------- 19.1/150.0 MB 5.0 MB/s eta 0:00:27
   ----- ---------------------------------- 20.7/150.0 MB 5.1 MB/s eta 0:00:26
   ------ --------------------------------- 22.8/150.0 MB 5.3 MB/s eta 0:00:24
   ------ --------------------------------- 24.4/150.0 MB 5.5 MB/s eta 0:00:24
   ------ --------------------------------- 26.2/150.0 MB 5.6 MB/s eta 0:00:23
   ------- -------------------------------- 28.0/150.0 MB 5.7 MB/s eta 0:00:22
   -------- ------------------------------- 30.1/150.0 MB 5.9 MB/s eta 0:00:21
   -------- ------------------------------- 32.5/150.0 MB 6.1 MB/s eta 0:00:20
   --------- ------------------------------ 34.9/150.0 MB 6.3 MB/s eta 0:00:19
   --------- ------------------------------ 37.2/150.0 MB 6.5 MB/s eta 0:00:18
   ---------- ----------------------------- 39.8/150.0 MB 6.7 MB/s eta 0:00:17
   ----------- ---------------------------- 42.5/150.0 MB 6.9 MB/s eta 0:00:16
   ----------- ---------------------------- 44.8/150.0 MB 7.0 MB/s eta 0:00:16
   ------------ --------------------------- 46.9/150.0 MB 7.1 MB/s eta 0:00:15
   ------------- -------------------------- 49.0/150.0 MB 7.2 MB/s eta 0:00:15
   ------------- -------------------------- 51.1/150.0 MB 7.3 MB/s eta 0:00:14
   -------------- ------------------------- 53.0/150.0 MB 7.3 MB/s eta 0:00:14
   -------------- ------------------------- 55.1/150.0 MB 7.4 MB/s eta 0:00:13
   --------------- ------------------------ 56.9/150.0 MB 7.5 MB/s eta 0:00:13
   --------------- ------------------------ 59.0/150.0 MB 7.5 MB/s eta 0:00:13
   ---------------- ----------------------- 61.1/150.0 MB 7.6 MB/s eta 0:00:12
   ---------------- ----------------------- 62.9/150.0 MB 7.6 MB/s eta 0:00:12
   ----------------- ---------------------- 65.0/150.0 MB 7.7 MB/s eta 0:00:12
   ----------------- ---------------------- 67.1/150.0 MB 7.7 MB/s eta 0:00:11
   ------------------ --------------------- 69.2/150.0 MB 7.8 MB/s eta 0:00:11
   ------------------- -------------------- 71.3/150.0 MB 7.8 MB/s eta 0:00:11
   ------------------- -------------------- 73.4/150.0 MB 7.9 MB/s eta 0:00:10
   -------------------- ------------------- 75.5/150.0 MB 7.9 MB/s eta 0:00:10
   -------------------- ------------------- 77.6/150.0 MB 8.0 MB/s eta 0:00:10
   --------------------- ------------------ 79.4/150.0 MB 8.0 MB/s eta 0:00:09
   --------------------- ------------------ 81.5/150.0 MB 8.1 MB/s eta 0:00:09
   ---------------------- ----------------- 83.6/150.0 MB 8.1 MB/s eta 0:00:09
   ---------------------- ----------------- 85.5/150.0 MB 8.1 MB/s eta 0:00:08
   ----------------------- ---------------- 87.6/150.0 MB 8.1 MB/s eta 0:00:08
   ----------------------- ---------------- 89.7/150.0 MB 8.2 MB/s eta 0:00:08
   ------------------------ --------------- 91.8/150.0 MB 8.2 MB/s eta 0:00:08
   ------------------------ --------------- 93.6/150.0 MB 8.2 MB/s eta 0:00:07
   ------------------------- -------------- 95.7/150.0 MB 8.3 MB/s eta 0:00:07
   -------------------------- ------------- 97.8/150.0 MB 8.3 MB/s eta 0:00:07
   -------------------------- ------------- 99.6/150.0 MB 8.3 MB/s eta 0:00:07
   --------------------------- ------------ 101.7/150.0 MB 8.3 MB/s eta 0:00:06
   --------------------------- ------------ 103.8/150.0 MB 8.4 MB/s eta 0:00:06
   ---------------------------- ----------- 105.6/150.0 MB 8.4 MB/s eta 0:00:06
   ---------------------------- ----------- 107.7/150.0 MB 8.4 MB/s eta 0:00:06
   ----------------------------- ---------- 109.8/150.0 MB 8.4 MB/s eta 0:00:05
   ----------------------------- ---------- 111.9/150.0 MB 8.5 MB/s eta 0:00:05
   ------------------------------ --------- 114.0/150.0 MB 8.5 MB/s eta 0:00:05
   ------------------------------ --------- 115.9/150.0 MB 8.5 MB/s eta 0:00:05
   ------------------------------- -------- 118.2/150.0 MB 8.5 MB/s eta 0:00:04
   -------------------------------- ------- 120.1/150.0 MB 8.5 MB/s eta 0:00:04
   -------------------------------- ------- 122.2/150.0 MB 8.6 MB/s eta 0:00:04
   --------------------------------- ------ 124.0/150.0 MB 8.6 MB/s eta 0:00:04
   --------------------------------- ------ 126.1/150.0 MB 8.6 MB/s eta 0:00:03
   ---------------------------------- ----- 127.9/150.0 MB 8.6 MB/s eta 0:00:03
   ---------------------------------- ----- 129.2/150.0 MB 8.6 MB/s eta 0:00:03
   ---------------------------------- ----- 130.0/150.0 MB 8.5 MB/s eta 0:00:03
   ---------------------------------- ----- 130.5/150.0 MB 8.4 MB/s eta 0:00:03
   ---------------------------------- ----- 131.1/150.0 MB 8.4 MB/s eta 0:00:03
   ----------------------------------- ---- 131.9/150.0 MB 8.3 MB/s eta 0:00:03
   ----------------------------------- ---- 132.6/150.0 MB 8.2 MB/s eta 0:00:03
   ----------------------------------- ---- 133.7/150.0 MB 8.1 MB/s eta 0:00:02
   ----------------------------------- ---- 134.5/150.0 MB 8.1 MB/s eta 0:00:02
   ------------------------------------ --- 135.8/150.0 MB 8.1 MB/s eta 0:00:02
   ------------------------------------ --- 136.8/150.0 MB 8.0 MB/s eta 0:00:02
   ------------------------------------ --- 138.1/150.0 MB 8.0 MB/s eta 0:00:02
   ------------------------------------- -- 139.5/150.0 MB 8.0 MB/s eta 0:00:02
   ------------------------------------- -- 140.8/150.0 MB 7.9 MB/s eta 0:00:02
   ------------------------------------- -- 142.1/150.0 MB 7.9 MB/s eta 0:00:01
   -------------------------------------- - 143.7/150.0 MB 7.9 MB/s eta 0:00:01
   -------------------------------------- - 145.2/150.0 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------  146.8/150.0 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------  148.4/150.0 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------  149.9/150.0 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------  149.9/150.0 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------- 150.0/150.0 MB 7.8 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [14]:
calories=pd.read_csv('calories.csv')
exercise=pd.read_csv('exercise.csv')

In [16]:
calories.head()

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0
3  16180408      71.0
4  17771927      35.0

In [18]:
exercise.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [30]:
calories_data = pd.concat([exercise, calories['Calories']], axis=1)

In [36]:
calories_data.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [34]:
# checking the number of rows and columns
calories_data.shape

(15000, 9)

In [32]:
# getting some informations about the data
calories_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User_ID     15000 non-null  int64
 1   Gender      15000 non-null  object
 2   Age         15000 non-null  int64
 3   Height      15000 non-null  float64
 4   Weight      15000 non-null  float64
 5   Duration    15000 non-null  float64
 6   Heart_Rate  15000 non-null  float64
 7   Body_Temp   15000 non-null  float64
 8   Calories    15000 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 1.0+ MB